Repository njsh4261/SGS_Last_Punch, pull requests merged in 2021-12, with the labels that each got.

#14 [FE] docker build example
  src/frontend/web/.dockerignore
  src/frontend/web/.prettierrc
  src/frontend/web/Dockerfile
  src/frontend/web/README.md
  src/frontend/web/docker-compose.yml
  src/frontend/web/package-lock.json
  src/frontend/web/package.json
  src/frontend/web/src/index.tsx
Labels: WEB, chore

#22 채팅 UI 프로토 타입 1차
  src/frontend/web/.gitignore
  src/frontend/web/custom.d.ts
  src/frontend/web/package-lock.json
  src/frontend/web/package.json
  src/frontend/web/public/favicon.ico
  src/frontend/web/public/index.html
  src/frontend/web/public/logo192.png
  src/frontend/web/public/logo512.png
  src/frontend/web/public/manifest.json
  src/frontend/web/public/robots.txt
  src/frontend/web/src/App.css
  src/frontend/web/src/App.test.tsx
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/Chat.tsx
  src/frontend/web/src/icon/add_black_24dp.svg
  src/frontend/web/src/icon/alternate_email_black_24dp.svg
  src/frontend/web/src/icon/arrowDropDown.svg
  src/frontend/web/src/icon/bold.svg
  src/frontend/web/src/icon/code_black_24dp.svg
  src/frontend/web/src/icon/expand_more_black_24dp.svg
  src/frontend/web/src/icon/format_align_left_black_24dp.svg
  src/frontend/web/src/icon/format_italic_black_24dp.svg
  src/frontend/web/src/icon/format_list_bulleted_black_24dp.svg
  src/frontend/web/src/icon/format_list_numbered_black_24dp.svg
  src/frontend/web/src/icon/format_strikethrough_black_24dp.svg
  src/frontend/web/src/icon/link_black_24dp.svg
  src/frontend/web/src/icon/list_black_24dp.svg
  src/frontend/web/src/icon/restore_black_24dp.svg
  src/frontend/web/src/icon/send_black_24dp.svg
  src/frontend/web/src/icon/sentiment_satisfied_alt_black_24dp.svg
  src/frontend/web/src/icon/text_fields_black_24dp.svg
  src/frontend/web/src/index.css
  src/frontend/web/src/index.tsx
  src/frontend/web/src/logo.svg
  src/frontend/web/src/react-app-env.d.ts
  src/frontend/web/src/reportWebVitals.ts
  src/frontend/web/src/setupTests.ts
  src/frontend/web/src/styles/GlobalStyle.tsx
  src/frontend/web/tsconfig.json
Labels: feat, WEB

#23 chore: 개발환경 설정
  src/frontend/ios/.gitignore
  src/frontend/ios/Podfile
  src/frontend/ios/Podfile.lock
  src/frontend/ios/RxSwiftPractice.playground/Contents.swift
  src/frontend/ios/RxSwiftPractice.playground/contents.xcplayground
  src/frontend/ios/Snack.xcodeproj/project.pbxproj
  src/frontend/ios/Snack.xcworkspace/contents.xcworkspacedata
  src/frontend/ios/Snack.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/frontend/ios/Snack/AppDelegate.swift
  src/frontend/ios/Snack/Assets.xcassets/AccentColor.colorset/Contents.json
  src/frontend/ios/Snack/Assets.xcassets/AppIcon.appiconset/Contents.json
  src/frontend/ios/Snack/Assets.xcassets/Contents.json
  src/frontend/ios/Snack/Base.lproj/LaunchScreen.storyboard
  src/frontend/ios/Snack/Base.lproj/Main.storyboard
  src/frontend/ios/Snack/Info.plist
  src/frontend/ios/Snack/SceneDelegate.swift
  src/frontend/ios/Snack/ViewController.swift
Labels: IOS

#25 prototype 2차, input from 1차완료(폼기능 미구현)
  src/frontend/web/src/components/Chat.tsx
  src/frontend/web/src/components/ChatInput.tsx
Labels: feat, WEB

#28 fix: x축 스크롤 문제, 입력없이 전송 막기
  src/frontend/web/src/components/Chat.tsx
Labels: fix, WEB
