Repository njsh4261/SGS_Last_Punch, pull requests merged in 2022-02, with the labels that each got.

#146 fix: op, feat: title api
  src/frontend/web/src/Api/note.ts
  src/frontend/web/src/components/Note/Main/index.tsx
  src/frontend/web/src/hook/noteSocket.ts
  src/frontend/web/types/note.type.ts
Labels: fix, feat, WEB

#147 주기마다 update op, note
  src/frontend/web/src/components/Note/Main/index.tsx
  src/frontend/web/src/hook/noteSocket.ts
Labels: feat, WEB

#150 refactoring, fix
  src/frontend/web/src/Api/note.ts
  src/frontend/web/src/components/Note/Main/index.tsx
  src/frontend/web/src/hook/note/noteApplyInitData.ts
  src/frontend/web/src/hook/note/noteOPinterval.ts
  src/frontend/web/src/hook/note/noteSocket.ts
  src/frontend/web/src/hook/useInterval.ts
Labels: fix, refactor, WEB

#154 test: main router
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/Note/Main/index.tsx
Labels: WEB

#138 feat/chat/db
  src/backend/chat/README.md
  src/backend/chat/build.gradle
  src/backend/chat/src/main/java/lastpunch/chat/common/ChatConstant.java
  src/backend/chat/src/main/java/lastpunch/chat/config/AsyncConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/config/ChatConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/config/MongoConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/controller/ChatController.java
  src/backend/chat/src/main/java/lastpunch/chat/dto/Message.java
  src/backend/chat/src/main/java/lastpunch/chat/entity/Message.java
  src/backend/chat/src/main/java/lastpunch/chat/repository/MongoDbRepository.java
  src/backend/chat/src/main/java/lastpunch/chat/repository/MongoDbRepositoryCustom.java
  src/backend/chat/src/main/java/lastpunch/chat/repository/MongoDbRepositoryImpl.java
  src/backend/chat/src/main/java/lastpunch/chat/service/MongoDbService.java
  src/backend/chat/src/main/java/lastpunch/chat/service/RabbitMqService.java
  src/backend/chat/src/main/resources/application.yml
  src/backend/chat/src/main/resources/static/index.html
Labels: feat, BE

#159 feat: gateway CORS 설정 수정 & 웹소켓 토큰 인증 추가
  src/backend/gateway/src/main/java/lastpunch/gateway/GatewayApplication.java
  src/backend/gateway/src/main/java/lastpunch/gateway/filter/AccessTokenFilter.java
  src/backend/gateway/src/main/java/lastpunch/gateway/filter/RemoveCorsHeaderFilter.java
  src/backend/gateway/src/main/resources/application.yml
  src/backend/note-server/http-server/src/main/java/lastpunch/notehttpserver/config/WebConfig.java
  src/backend/note-server/websocket-server/build.gradle
  src/backend/note-server/websocket-server/src/main/java/com/example/notemvcwebsocketserver/common/jwt/JwtProvider.java
  src/backend/note-server/websocket-server/src/main/java/com/example/notemvcwebsocketserver/config/StompInterceptor.java
  src/backend/note-server/websocket-server/src/main/java/com/example/notemvcwebsocketserver/config/WebsocketConfig.java
  src/backend/note-server/websocket-server/src/main/resources/application.properties
Labels: feat, BE

#161 feat: note api + token
  src/backend/gateway/src/main/java/lastpunch/gateway/GatewayApplication.java
  src/frontend/web/src/Api/note.ts
  src/frontend/web/src/App.tsx
  src/frontend/web/src/hook/note/noteSocket.ts
Labels: feat, WEB

#164 Refactor/note
  src/backend/chat/gradlew
  src/backend/docker-compose.yml
  src/backend/gateway/src/main/java/lastpunch/gateway/GatewayApplication.java
  src/backend/note-server/http-server/Dockerfile
  src/backend/note-server/http-server/build.gradle
  src/backend/note-server/http-server/src/main/java/lastpunch/notehttpserver/NoteHttpServerApplication.java
  src/backend/note-server/http-server/src/main/resources/application.properties
  src/backend/note-server/websocket-server/Dockerfile
  src/backend/note-server/websocket-server/build.gradle
  src/backend/note-server/websocket-server/src/main/java/com/example/notemvcwebsocketserver/NoteMvcWebsocketServerApplication.java
  src/backend/note-server/websocket-server/src/main/resources/application.properties
  src/frontend/web/src/Api/handler.ts
  src/frontend/web/src/Api/note.ts
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Note/Main/index.tsx
  src/frontend/web/src/hook/chat.ts
  src/frontend/web/src/hook/chatSocket.ts
  src/frontend/web/src/hook/note/noteOPinterval.ts
  src/frontend/web/src/hook/note/noteSocket.ts
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/types/chat.type.ts
Labels: refactor, WEB

#167 [FE] 회원가입 API에 display name 추가.
  scripts/MySQL/LastPunch_schema.sql
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/LoginController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/AccountInfo.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/LoginResponse.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/SignupRequest.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/Tokens.java
  src/backend/authServer/src/main/java/lastpunch/authserver/entity/Account.java
  src/backend/authServer/src/main/java/lastpunch/authserver/repository/AccountRepository.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/LoginService.java
  src/backend/db/initdb.d/Create.sql
  src/backend/docker-compose.yml
  src/frontend/web/src/Api/signin.ts
  src/frontend/web/src/Api/signup.ts
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/SignupEmail/Pass.tsx
  src/frontend/web/src/components/SignupEmail/Verify.tsx
  src/frontend/web/src/components/SignupEmail/index.tsx
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/src/util/clearSession.ts
  src/frontend/web/types/signupInput.type.ts
Labels: feat, WEB

#170 chore: docker yml
  src/backend/docker-compose.yml
Labels: chore

#166 feat/workspace/message
  src/backend/chat-proto/.gradle/7.3.2/checksums/checksums.lock
  src/backend/chat-proto/.gradle/7.3.2/checksums/md5-checksums.bin
  src/backend/chat-proto/.gradle/7.3.2/checksums/sha1-checksums.bin
  src/backend/chat-proto/.gradle/7.3.2/dependencies-accessors/dependencies-accessors.lock
  src/backend/chat-proto/.gradle/7.3.2/dependencies-accessors/gc.properties
  src/backend/chat-proto/.gradle/7.3.2/executionHistory/executionHistory.lock
  src/backend/chat-proto/.gradle/7.3.2/fileChanges/last-build.bin
  src/backend/chat-proto/.gradle/7.3.2/fileHashes/fileHashes.lock
  src/backend/chat-proto/.gradle/7.3.2/gc.properties
  src/backend/chat-proto/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  src/backend/chat-proto/.gradle/buildOutputCleanup/cache.properties
  src/backend/chat-proto/.gradle/vcs-1/gc.properties
  src/backend/chat-proto/bin/main/application.yml
  src/backend/chat-proto/bin/main/com/lastpunch/chatproto/ChatProtoApplication.class
  src/backend/chat-proto/bin/test/com/lastpunch/chatproto/ChatProtoApplicationTests.class
  src/backend/workspace/build.gradle
  src/backend/workspace/src/main/java/lastpunch/workspace/config/MongoConfig.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/AccountController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Account.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Channel.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Message.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Workspace.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/message/MessageRepository.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/message/MessageRepositoryCustom.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/message/MessageRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/AccountService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/WorkspaceService.java
  src/backend/workspace/src/main/resources/application.yml
Labels: feat, BE

#165 Feat/chat/docker
  src/backend/chat/Dockerfile
  src/backend/chat/build.gradle
  src/backend/chat/src/main/java/lastpunch/chat/common/ChatConstant.java
  src/backend/chat/src/main/java/lastpunch/chat/common/jwt/JwtProvider.java
  src/backend/chat/src/main/java/lastpunch/chat/config/ChatConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/config/ChatHttpConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/config/MongoConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/config/StompInterceptor.java
  src/backend/chat/src/main/java/lastpunch/chat/entity/Message.java
  src/backend/chat/src/main/java/lastpunch/chat/repository/MongoDbRepositoryImpl.java
  src/backend/chat/src/main/resources/application.yml
  src/backend/chat/src/main/resources/static/index.html
  src/backend/docker-compose.yml
  src/backend/docker-setup/mongo/mongo-init.js
  src/backend/docker-setup/mysql/initdb.d/Create.sql
  src/backend/docker-setup/mysql/initdb.d/Insert.sql
  src/backend/docker-setup/rabbitmq/rabbit_enabled_plugins
  src/backend/gateway/src/main/java/lastpunch/gateway/GatewayApplication.java
  src/backend/gateway/src/main/java/lastpunch/gateway/common/exception/AuthExceptionHandler.java
  src/backend/gateway/src/main/java/lastpunch/gateway/filter/AccessTokenFilter.java
  src/backend/gateway/src/main/java/lastpunch/gateway/filter/RefreshTokenFilter.java
Labels: feat, BE, chore

#173 Fix/chat/eureka
  src/backend/chat/build.gradle
  src/backend/chat/src/main/java/lastpunch/chat/ChatApplication.java
  src/backend/chat/src/main/java/lastpunch/chat/config/ChatConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/config/ChatHttpConfig.java
  src/backend/chat/src/main/resources/application.yml
Labels: fix, BE

#175 fix: Account 테이블의 displayname 삭제 사항을 워크스페이스 API에 반영
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Account.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/channel/ChannelRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryImpl.java
Labels: fix, BE

#178 fix, refactor
  src/frontend/web/src/Api/note.ts
  src/frontend/web/src/components/Note/Main/EditorFrame/index.tsx
  src/frontend/web/src/hook/getChannelsAndMembers.ts
  src/frontend/web/src/hook/note/noteApplyInitData.ts
  src/frontend/web/src/hook/note/noteSocket.ts
Labels: fix, refactor

#179 Fix/docker/ws
  src/backend/docker-compose.yml
Labels: fix, chore

#183 멤버 초대 API, snack color로 변경
  src/frontend/web/package-lock.json
  src/frontend/web/package.json
  src/frontend/web/src/Api/channel.ts
  src/frontend/web/src/Api/handler.ts
  src/frontend/web/src/Api/reissue.ts
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/components/Common/Input.tsx
  src/frontend/web/src/components/Common/Loading.tsx
  src/frontend/web/src/components/Common/Logo.tsx
  src/frontend/web/src/components/Common/MainAsideFrame.ts
  src/frontend/web/src/components/Common/MainAsideHeader.ts
  src/frontend/web/src/components/Common/MainHeaderFrame.ts
  src/frontend/web/src/components/Common/NavigationTab.tsx
  src/frontend/web/src/components/Common/SubmitButton.tsx
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
  src/frontend/web/src/components/Main/Aside/Body/ToggleList.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Main/Header/index.tsx
  src/frontend/web/src/components/Signin/index.tsx
  src/frontend/web/src/components/SignupEmail/index.tsx
  src/frontend/web/src/components/Welcome/Body/CreateWsNav.tsx
  src/frontend/web/src/components/Welcome/Body/WsList.tsx
  src/frontend/web/src/components/Welcome/Header/LogoutButton.tsx
  src/frontend/web/src/components/Welcome/Header/index.tsx
  src/frontend/web/src/hook/getChannelsAndMembers.ts
  src/frontend/web/src/hook/getWs.ts
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/src/pages/Welcome.tsx
  src/frontend/web/src/styles/theme.ts
  src/frontend/web/src/util/clearSession.ts
  src/frontend/web/types/styledcomponent.d.ts
Labels: fix, feat, refactor, WEB

#184 style: favicon
  src/frontend/web/public/favicon.ico
  src/frontend/web/public/index.html
Labels: WEB

#185 web UI
  src/frontend/web/src/components/Common/MainAsideFrame.ts
  src/frontend/web/src/components/Common/MainAsideHeader.ts
  src/frontend/web/src/components/Common/SubmitButton.tsx
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
  src/frontend/web/src/components/Main/Aside/Body/ChannelModal.tsx
  src/frontend/web/src/components/Main/Aside/Body/InviteModal.tsx
  src/frontend/web/src/components/Main/Aside/Body/ToggleList.tsx
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Main/Header/index.tsx
  src/frontend/web/src/components/Note/Main/index.tsx
  src/frontend/web/src/components/Welcome/Body/WsItem.tsx
  src/frontend/web/src/components/Welcome/Body/WsList.tsx
  src/frontend/web/src/hook/getChannelsAndMembers.ts
  src/frontend/web/src/hook/updateChannelStore.ts
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/src/pages/Note.tsx
  src/frontend/web/src/styles/theme.ts
Labels: fix, WEB

#187 [Main/Channel/hedaer] navigation tab dropdown
  src/frontend/web/src/components/Common/MainAsideHeader.ts
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Main/Chat/Dropdown.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/hook/Dropdown.ts
Labels: feat, WEB

#186 Fix/chat/docker
  src/backend/chat/README.md
  src/backend/chat/src/main/java/lastpunch/chat/ChatApplication.java
  src/backend/chat/src/main/java/lastpunch/chat/common/exception/BusinessException.java
  src/backend/chat/src/main/java/lastpunch/chat/common/exception/ErrorResponse.java
  src/backend/chat/src/main/java/lastpunch/chat/common/exception/GlobalExceptionHandler.java
  src/backend/chat/src/main/java/lastpunch/chat/common/exception/StatusCode.java
  src/backend/chat/src/main/java/lastpunch/chat/config/ChatConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/config/StompInterceptor.java
  src/backend/chat/src/main/resources/application.yml
  src/backend/docker-compose.yml
  src/backend/docker-setup/mongo/mongo-init.js
  src/backend/docker-setup/rabbitmq/rabbit_enabled_plugins
  src/backend/gateway/src/main/java/lastpunch/gateway/GatewayApplication.java
  src/backend/note-server/README.md
  src/backend/note-server/docs/README_ver1.md
  src/frontend/web/src/hook/chat.ts
  src/frontend/web/src/hook/chatSocket.ts
  src/frontend/web/types/chat.type.ts
Labels: fix, BE, chore

#196 [Chatting, AccountSelf] 채팅 메시지 출력, 내 정보 사용
  src/frontend/web/src/Api/account.ts
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/components/Common/MainAsideHeader.ts
  src/frontend/web/src/components/Main/Aside/Body/InviteModal.tsx
  src/frontend/web/src/components/Main/Aside/Body/Modal.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Note/Main/index.tsx
  src/frontend/web/src/hook/chat.ts
  src/frontend/web/src/hook/chatSocket.ts
  src/frontend/web/src/hook/getSelfInfo.ts
  src/frontend/web/src/hook/note/noteSocket.ts
  src/frontend/web/src/modules/index.ts
  src/frontend/web/src/modules/user.ts
  src/frontend/web/src/pages/Welcome.tsx
Labels: feat, WEB

#199 dorpdown - ws, channel, cookie(setting)
  src/frontend/web/src/components/Common/DropdownComponent.tsx
  src/frontend/web/src/components/Main/Aside/DropdownWorkspace.tsx
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Main/Chat/Dropdown.tsx
  src/frontend/web/src/components/Main/Chat/DropdownChannel.tsx
  src/frontend/web/src/components/Main/Chat/DropdownSetting.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/hook/Dropdown.ts
Labels: feat, WEB

#202 fix: workspace invite api
  src/frontend/web/src/Api/workspace.ts
Labels: fix, WEB

#200 fix/chat/nullpoint
  src/backend/chat/src/main/java/lastpunch/chat/common/exception/BusinessException.java
  src/backend/chat/src/main/java/lastpunch/chat/common/exception/ErrorResponse.java
  src/backend/chat/src/main/java/lastpunch/chat/common/exception/GlobalExceptionHandler.java
  src/backend/chat/src/main/java/lastpunch/chat/common/exception/StatusCode.java
  src/backend/chat/src/main/java/lastpunch/chat/config/StompInterceptor.java
  src/backend/docker-compose.yml
Labels: fix, BE, bug

#201 Fix/workspace/dto
  docs/API_references/WorkspaceServer.postman_collection.json
  docs/API_references/backend_workspace_apis.md
  scripts/MySQL/LastPunch_schema.sql
  scripts/MySQL/workspace_test.sql
  src/backend/docker-setup/mysql/initdb.d/Create.sql
  src/backend/docker-setup/mysql/initdb.d/Insert.sql
  src/backend/workspace/src/main/java/lastpunch/workspace/common/converter/AccountStatusConverter.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/converter/WorkspaceStatusConverter.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Account.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Channel.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Workspace.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/channel/ChannelRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryImpl.java
Labels: fix, BE

#205 [Channel/ws] DELETE API, 채널 구독, 채널 알림
  src/frontend/web/src/Api/channel.ts
  src/frontend/web/src/Api/handler.ts
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/components/Common/DropdownComponent.tsx
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
  src/frontend/web/src/components/Main/Aside/Body/ToggleList.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Aside/DropdownWorkspace.tsx
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Main/Chat/DropdownChannel.tsx
  src/frontend/web/src/components/Main/Chat/DropdownSetting.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/hook/chat.ts
  src/frontend/web/src/hook/chatSocket.ts
  src/frontend/web/src/hook/getChannelsAndMembers.ts
  src/frontend/web/src/modules/channeList.ts
  src/frontend/web/src/modules/index.ts
  src/frontend/web/src/modules/userList.ts
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/src/util/logout.ts
Labels: feat, WEB

#209 [WS/Channel] 초대 모달, API
  src/frontend/web/package-lock.json
  src/frontend/web/package.json
  src/frontend/web/src/Api/account.ts
  src/frontend/web/src/Api/channel.ts
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/components/Common/DropdownComponent.tsx
  src/frontend/web/src/components/Common/InviteModal.tsx
  src/frontend/web/src/components/Common/ModalBox.tsx
  src/frontend/web/src/components/Main/Aside/Body/Modal.tsx
  src/frontend/web/src/components/Main/Aside/Body/ToggleList.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Aside/DropdownWorkspace.tsx
  src/frontend/web/src/components/Main/Chat/DropdownChannel.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/components/Welcome/Header/LogoutButton.tsx
  src/frontend/web/src/constant/index.js
  src/frontend/web/src/hook/chatSocket.ts
  src/frontend/web/src/pages/Main.tsx
Labels: feat, WEB

#211 fix: iOS 앱을 고려하여 CORS 설정 제거
  src/backend/chat/src/main/java/lastpunch/chat/config/ChatConfig.java
Labels: fix, BE

#207 워크스페이스 API 및 entity 수정
  docs/API_references/backend_workspace_apis.md
  scripts/MySQL/LastPunch_schema.sql
  scripts/MySQL/workspace_test.sql
  src/backend/docker-setup/mysql/initdb.d/Create.sql
  src/backend/docker-setup/mysql/initdb.d/Insert.sql
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/AccountChannelController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/AccountWorkspaceController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/WorkspaceController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/dto/Members.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Account.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Channel.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/channel/ChannelRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepository.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryCustom.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/AccountChannelService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/AccountWorkspaceService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/WorkspaceService.java
Labels: fix, feat, BE

#215 GetOlderDto에 JsonFormat annotation 추가
  src/backend/chat/src/main/java/lastpunch/chat/entity/Message.java
Labels: fix, BE

#218 [DM] UI & API & Socket
  src/frontend/web/package-lock.json
  src/frontend/web/package.json
  src/frontend/web/src/Api/chat.ts
  src/frontend/web/src/Api/note.ts
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/Common/InviteModal.tsx
  src/frontend/web/src/components/Common/MainAsideFrame.ts
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
  src/frontend/web/src/components/Main/Aside/Body/Modal.tsx
  src/frontend/web/src/components/Main/Aside/Body/ToggleList.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/components/Main/Chat/Input.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Note/EditorFrame/Caret.tsx
  src/frontend/web/src/components/Note/EditorFrame/Components.tsx
  src/frontend/web/src/components/Note/EditorFrame/index.tsx
  src/frontend/web/src/components/Note/EditorFrame/plugin/block.ts
  src/frontend/web/src/components/Note/EditorFrame/plugin/link.ts
  src/frontend/web/src/components/Note/EditorFrame/plugin/mark.ts
  src/frontend/web/src/components/Note/Header/index.tsx
  src/frontend/web/src/components/Note/Side/Header.tsx
  src/frontend/web/src/components/Note/Side/List.tsx
  src/frontend/web/src/components/Note/Side/Menu.tsx
  src/frontend/web/src/components/Note/index.tsx
  src/frontend/web/src/constant/index.js
  src/frontend/web/src/hook/chat.ts
  src/frontend/web/src/hook/chatScroll.ts
  src/frontend/web/src/hook/chatSocket.ts
  src/frontend/web/src/hook/getChannelsAndMembers.ts
  src/frontend/web/src/hook/selectChannel.ts
  src/frontend/web/src/hook/updateChannelStore.ts
  src/frontend/web/src/modules/channel.ts
  src/frontend/web/src/modules/user.ts
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/src/pages/Note.tsx
  src/frontend/web/src/pages/Welcome.tsx
  src/frontend/web/src/routes/Private.tsx
  src/frontend/web/src/routes/Test.tsx
  src/frontend/web/types/workspace.type.ts
Labels: feat, WEB

#221 fix: CORS 설정 메소드 변경
  src/backend/chat/src/main/java/lastpunch/chat/config/ChatConfig.java
Labels: fix, BE

#223 [DM] auto scroll
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/hook/chat.ts
  src/frontend/web/src/hook/chatScroll.ts
Labels: feat, WEB

#222 fix: 채팅 목록을 호출하는 API에서 배열을 뒤집어서 반환
  src/backend/chat/src/main/java/lastpunch/chat/repository/MongoDbRepository.java
  src/backend/chat/src/main/java/lastpunch/chat/repository/MongoDbRepositoryCustom.java
  src/backend/chat/src/main/java/lastpunch/chat/repository/MongoDbRepositoryImpl.java
  src/backend/chat/src/main/java/lastpunch/chat/service/MongoDbService.java
Labels: fix, BE

#226 [Note] readOnly !!!!
  src/frontend/web/src/Api/note.ts
  src/frontend/web/src/components/Common/MainAsideFrame.ts
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Note/EditorFrame/index.tsx
  src/frontend/web/src/components/Note/index.tsx
Labels: feat, WEB

#229 [Note] UI, 토글 기능
  src/frontend/web/.eslintrc
  src/frontend/web/package-lock.json
  src/frontend/web/package.json
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
  src/frontend/web/src/components/Note/EditorFrame/Components.tsx
  src/frontend/web/src/components/Note/EditorFrame/HoveringToolbar/MarkButton.tsx
  src/frontend/web/src/components/Note/EditorFrame/HoveringToolbar/StyledTBG.js
  src/frontend/web/src/components/Note/EditorFrame/HoveringToolbar/index.tsx
  src/frontend/web/src/components/Note/EditorFrame/StaticTollbar.tsx
  src/frontend/web/src/components/Note/EditorFrame/index.css
  src/frontend/web/src/components/Note/EditorFrame/index.tsx
  src/frontend/web/src/components/Note/index.tsx
  src/frontend/web/src/hook/chatScroll.ts
Labels: fix, feat, WEB

#230 Fix/webui
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Note/index.tsx
Labels: fix, feat, WEB

#231 Docs/web 1차
  src/frontend/web/README.md
Labels: doc, WEB

#233 refactor: hooks
  src/frontend/web/src/components/Note/index.tsx
  src/frontend/web/src/hook/note/noteApplyInitData.ts
  src/frontend/web/src/hook/note/noteSetup.ts
  src/frontend/web/src/hook/note/noteSocket.ts
Labels: refactor, WEB

#234 코드리뷰가이드 파일 생성
  src/frontend/web/README.md
  src/frontend/web/코드리뷰가이드.txt
Labels: doc

#239 snack 설명 위치
  README.md
  src/README.md
  src/frontend/README.md
  src/frontend/web/README.md
Labels: doc

#241 feat: palceholder
  src/frontend/web/src/components/Signin/index.tsx
Labels: feat, WEB

#242 docs/readme
  README.md
  bin/README.md
  data/README.md
  deploy/README.md
  docs/coding_convention.md
  resources/README.md
Labels: doc

#248 docs
  src/frontend/web/README.md
  src/frontend/web/codeReviewGuide.pdf
  src/frontend/web/코드리뷰가이드.md
  src/frontend/web/코드리뷰가이드.txt
Labels: doc

#249 Refactor/note
  src/frontend/web/codeReviewGuide.pdf
  src/frontend/web/코드리뷰가이드.txt
Labels: doc

#255 docs/readme/backend
  docs/API_references/chat_apis.md
  docs/API_references/workspace_apis.md
  src/backend/chat/README.md
  src/backend/workspace/Dockerfile
  src/backend/workspace/README.md
  src/backend/workspace/build.gradle
  src/backend/코드리뷰가이드_김지효.md
Labels: doc, BE

#260 README에 백엔드 기술 스택 뱃지 추가/수정
  README.md
  src/backend/chat/README.md
  src/backend/presence/README.md
  src/backend/workspace/README.md
Labels: doc, BE

#269 fix: 워크스페이스 멤버 목록 출력 시 last DM message 출력 오류 수정
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/WorkspaceController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/ChannelService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/WorkspaceService.java
Labels: fix, BE, bug

#271 [ws/channel] 메뉴 모달
  src/frontend/web/env
  src/frontend/web/src/Api/account.ts
  src/frontend/web/src/Api/handler.ts
  src/frontend/web/src/Api/signin.ts
  src/frontend/web/src/components/Common/InviteModal.tsx
  src/frontend/web/src/components/Common/ModalMain/ModalInfo.tsx
  src/frontend/web/src/components/Common/ModalMain/ModalMember.tsx
  src/frontend/web/src/components/Common/ModalMain/index.tsx
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
  src/frontend/web/src/components/Main/Aside/Body/ToggleList.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/components/Main/Modal.tsx
  src/frontend/web/src/constant/index.js
  src/frontend/web/src/hook/ModalMenu.ts
  src/frontend/web/src/icon/addPerson.svg
  src/frontend/web/src/modules/modal.ts
  src/frontend/web/types/channel.type.ts
  src/frontend/web/types/modal.type.ts
  src/frontend/web/types/workspace.type.ts
Labels: feat, WEB

#273 chore: 테스트 데이터 sql 스크립트에 채널 소유자 정보 수정
  scripts/MySQL/workspace_test.sql
  src/backend/docker-setup/mysql/initdb.d/Insert.sql
Labels: fix, BE, chore

#275 Fix/db/test data
  scripts/MySQL/workspace_test.sql
  src/backend/docker-setup/mysql/initdb.d/Insert.sql
Labels: fix, BE, chore

#276 docs: Postman 워크스페이스 API 문서 업데이트
  docs/API_references/WorkspaceServer.postman_collection.json
Labels: doc, BE

#280 Feat/workspace/owner
  docs/API_references/WorkspaceServer.postman_collection.json
  docs/API_references/workspace_apis.md
  src/backend/workspace/src/main/java/lastpunch/workspace/common/StatusCode.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Channel.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Workspace.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/channel/ChannelRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/message/MessageRepository.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryCustom.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/ChannelService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/WorkspaceService.java
Labels: feat, BE

#281 [채팅] UI 개선
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/types/chat.type.ts
Labels: feat, WEB

#283 feat: don't subs yourself
  src/frontend/web/src/hook/chatSocket.ts
Labels: fix, WEB

#294 프리젠스 서버 API 매뉴얼 추가
  docs/API_references/presence_apis.md
  src/backend/presence/README.md
Labels: doc, BE

#299 [UI/UX] 채널 강조 효과
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
Labels: fix, WEB

#301 [UI] 대리님 피드백 후 수정
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
Labels: fix, feat, WEB

#303 [DM] 새 디엠 받으면 즉각 표시, 알림 해제 안되던 현상 수정
  src/frontend/web/src/hook/alarmOff.ts
  src/frontend/web/src/hook/chatSocket.ts
  src/frontend/web/src/modules/user.ts
  src/frontend/web/src/pages/Main.tsx
Labels: fix, WEB

#304 fix/gateway/presence
  src/backend/docker-compose.yml
Labels: fix, BE, chore

#306 Feat/workspace/role
  docs/API_references/WorkspaceServer.postman_collection.json
  docs/API_references/workspace_apis.md
  src/backend/workspace/src/main/java/lastpunch/workspace/common/Response.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/ServerCode.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/StatusCode.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/exception/DBExceptionMapper.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/type/RoleType.java
  src/backend/workspace/src/main/java/lastpunch/workspace/config/WebConfig.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/AccountChannelController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/AccountController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/AccountWorkspaceController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/ChannelController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/WorkspaceController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/dto/Members.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/AccountChannel.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/AccountWorkspace.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/AccountChannelRepository.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/AccountWorkspaceRepository.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/AccountChannelService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/AccountWorkspaceService.java
Labels: feat, BE

#298 채팅 작성 중 표시를 위한 백엔드 기능 추가
  docs/API_references/chat_apis.md
  docs/API_references/presence_apis.md
  src/backend/chat/README.md
  src/backend/chat/src/main/java/lastpunch/chat/common/MessageType.java
  src/backend/chat/src/main/java/lastpunch/chat/config/ChatWebConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/controller/ChatController.java
  src/backend/chat/src/main/java/lastpunch/chat/entity/ChatMessage.java
  src/backend/chat/src/main/java/lastpunch/chat/repository/ChatRepository.java
  src/backend/chat/src/main/java/lastpunch/chat/repository/ChatRepositoryCustom.java
  src/backend/chat/src/main/java/lastpunch/chat/repository/ChatRepositoryImpl.java
  src/backend/chat/src/main/java/lastpunch/chat/repository/MongoDbRepositoryCustom.java
  src/backend/chat/src/main/java/lastpunch/chat/service/MongoDbService.java
  src/backend/chat/src/main/java/lastpunch/chat/service/MongoService.java
  src/backend/chat/src/main/java/lastpunch/chat/service/RabbitMqService.java
  src/backend/chat/src/main/resources/static/index.html
Labels: feat, BE

#310 Feat/web/presence
  src/frontend/web/src/Api/presence.ts
  src/frontend/web/src/components/Common/ModalMain/ModalMember.tsx
  src/frontend/web/src/components/Common/StatusCircle.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/constant/index.js
  src/frontend/web/src/hook/chat/chatScroll.ts
  src/frontend/web/src/hook/chat/chatSocket.ts
  src/frontend/web/src/hook/chat/index.ts
  src/frontend/web/src/hook/getChannelsAndMembers.ts
  src/frontend/web/src/hook/presence/index.ts
  src/frontend/web/src/modules/user.ts
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/types/presence.ts
Labels: feat, WEB

#311 백엔드 서버 개선 요청사항 처리
  src/backend/workspace/src/main/java/lastpunch/workspace/common/StatusCode.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Account.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/WorkspaceService.java
Labels: feat, BE

#320 Fix/presence/multi
  docs/API_references/presence_apis.md
  src/backend/presence/src/main/java/lastpunch/presence/repository/PresenceRepositoryImpl.java
Labels: fix, BE

#324 fix: 사용자 세션이 다시 연결되는 경우 사용자 상태를 업데이트하지 않음
  docs/API_references/presence_apis.md
  src/backend/presence/src/main/java/lastpunch/presence/common/UserStatus.java
  src/backend/presence/src/main/java/lastpunch/presence/entity/Presence.java
  src/backend/presence/src/main/java/lastpunch/presence/service/MongoService.java
Labels: fix, BE

#325 [채팅] 입력 중 표시
  src/frontend/web/src/Api/reissue.ts
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/constant/index.js
  src/frontend/web/src/hook/chat/chatSocket.ts
  src/frontend/web/src/hook/chat/index.ts
  src/frontend/web/src/hook/presence/index.ts
  src/frontend/web/types/chat.type.ts
  src/frontend/web/types/presence.ts
Labels: feat, WEB

#329 [presnce] 상태 변경 후 다른 유저들의 상태가 비정상적으로 OFFLINE으로되는 문제 해결
  src/frontend/web/src/components/Main/Chat/DropdownSetting.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Main/Modal/ModalMember.tsx
  src/frontend/web/src/components/Main/Modal/ModalStatus.tsx
  src/frontend/web/src/hook/chat/index.ts
  src/frontend/web/src/hook/presence/index.ts
Labels: fix, WEB, bug

#332 Feat/webux
  src/frontend/web/src/components/Common/InviteModal.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/components/Main/Modal/ModalInfo.tsx
  src/frontend/web/src/components/Main/Note/Header.tsx
  src/frontend/web/src/components/Main/Note/index.tsx
  src/frontend/web/src/modules/channel.ts
  src/frontend/web/types/channel.type.ts
  src/frontend/web/types/workspace.type.ts
Labels: feat, WEB

#333 fix: set user status using presence module (redux)
  src/frontend/web/src/components/Main/Chat/DropdownSetting.tsx
  src/frontend/web/src/components/Main/Modal/ModalStatus.tsx
  src/frontend/web/src/hook/presence/index.ts
Labels: fix, WEB

#335 Fix/presence/multi
  docs/API_references/presence_apis.md
  src/backend/presence/src/main/java/lastpunch/presence/service/MongoService.java
Labels: fix, BE

#336 Fix/web/presence
  src/frontend/web/src/components/Common/StatusCircle.tsx
  src/frontend/web/src/components/Main/Chat/DropdownSetting.tsx
  src/frontend/web/src/components/Main/Modal/ModalStatus.tsx
  src/frontend/web/src/hook/presence/index.ts
Labels: fix, feat, refactor, WEB

#328 Feat/backend/image
  docs/API_references/WorkspaceServer.postman_collection.json
  docs/API_references/workspace_apis.md
  scripts/MySQL/LastPunch_schema.sql
  scripts/MySQL/workspace_test.sql
  src/backend/authServer/src/main/java/lastpunch/authserver/common/Response.java
  src/backend/authServer/src/main/java/lastpunch/authserver/common/exception/BusinessException.java
  src/backend/authServer/src/main/java/lastpunch/authserver/common/exception/ErrorCode.java
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/LoginController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/SignupController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/AccountInfo.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/LoginResponse.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/SignupRequest.java
  src/backend/authServer/src/main/java/lastpunch/authserver/entity/Account.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/AuthService.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/EmailVerifyService.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/LoginService.java
  src/backend/docker-setup/mysql/initdb.d/Create.sql
  src/backend/docker-setup/mysql/initdb.d/Insert.sql
  src/backend/workspace/src/main/java/lastpunch/workspace/common/exception/BusinessException.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/exception/DBExceptionMapper.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/exception/GlobalExceptionHandler.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/type/RoleType.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/AccountController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/ChannelController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/WorkspaceController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Account.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Channel.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Workspace.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/account/AccountRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/channel/ChannelRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/AccountChannelService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/AccountWorkspaceService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/ChannelService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/WorkspaceService.java
Labels: doc, feat, BE

#338 계정 정보 수정 API 추가
  docs/API_references/WorkspaceServer.postman_collection.json
  docs/API_references/workspace_apis.md
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/AccountController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Account.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Workspace.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/AccountService.java
Labels: feat, BE

#340 fix: 멤버 전체 목록에 imageNum을 추가해서 반환
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Account.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryImpl.java
Labels: fix, BE

#341 [web] imageNum으로 이미지 표시
  src/frontend/web/src/components/Common/ProfileImage.tsx
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
  src/frontend/web/src/components/Main/Chat/DropdownSetting.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Main/Modal/ModalMember.tsx
  src/frontend/web/src/components/Welcome/Body/WsItem.tsx
  src/frontend/web/src/hook/getSelfInfo.ts
  src/frontend/web/src/images/1.png
  src/frontend/web/src/images/10.png
  src/frontend/web/src/images/11.png
  src/frontend/web/src/images/12.png
  src/frontend/web/src/images/13.png
  src/frontend/web/src/images/14.png
  src/frontend/web/src/images/15.png
  src/frontend/web/src/images/16.png
  src/frontend/web/src/images/17.png
  src/frontend/web/src/images/18.png
  src/frontend/web/src/images/19.png
  src/frontend/web/src/images/2.png
  src/frontend/web/src/images/20.png
  src/frontend/web/src/images/21.png
  src/frontend/web/src/images/22.png
  src/frontend/web/src/images/23.png
  src/frontend/web/src/images/24.png
  src/frontend/web/src/images/3.png
  src/frontend/web/src/images/4.png
  src/frontend/web/src/images/5.png
  src/frontend/web/src/images/6.png
  src/frontend/web/src/images/7.png
  src/frontend/web/src/images/8.png
  src/frontend/web/src/images/9.png
  src/frontend/web/src/modules/user.ts
  src/frontend/web/types/channel.type.ts
  src/frontend/web/types/chat.type.ts
  src/frontend/web/types/workspace.type.ts
Labels: feat, WEB

#343 fix: MongoDB에 UTC+9 시간을 저장하도록 수정
  src/backend/chat/src/main/java/lastpunch/chat/common/ChatConstant.java
  src/backend/chat/src/main/java/lastpunch/chat/entity/ChatMessage.java
Labels: feat, BE

#351 멤버 수 표시 (랜덤으로)
  src/frontend/web/src/components/Welcome/Body/WsItem.tsx
Labels: fix, WEB

#352 chore: my.cnf 파일 추가 및 테스트 스크립트 수정
  src/backend/docker-compose.yml
  src/backend/docker-setup/mysql/conf.d/my.cnf
  src/backend/docker-setup/mysql/initdb.d/Insert.sql
Labels: fix, BE, chore

#354 docs: 스키마 다이어그램 최신화
  docs/DB/LastPunch_schema_MongoDB.drawio
  docs/DB/LastPunch_schema_MongoDB.png
  docs/DB/LastPunch_schema_MySQL.png
Labels: doc, BE

#355 fix: typing dm bug
  src/frontend/web/src/hook/chat/chatSocket.ts
Labels: fix, WEB

#359 이미지 크기 조정 및 캠프 후기
  src/frontend/web/README.md
Labels: doc, WEB
