Repository njsh4261/SGS_Last_Punch, pull requests merged in 2022-01, with the labels that each got.

#36 메인페이지 - 헤더 UI prototype
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/Chat/Header.tsx
  src/frontend/web/src/components/Chat/Input.tsx
  src/frontend/web/src/components/Chat/index.tsx
  src/frontend/web/src/components/Common/ImageButton.tsx
  src/frontend/web/src/components/Header.tsx
  src/frontend/web/src/components/MianHeader/Search.tsx
  src/frontend/web/src/components/MianHeader/index.tsx
  src/frontend/web/src/icon/search.svg
  src/frontend/web/src/index.tsx
  src/frontend/web/src/modules/index.ts
  src/frontend/web/src/modules/modal.ts
Labels: feat, WEB

#52 Feat/noti
  src/frontend/ios/Podfile
  src/frontend/ios/Podfile.lock
  src/frontend/ios/Snack.xcodeproj/project.pbxproj
  src/frontend/ios/Snack/AppDelegate.swift
  src/frontend/ios/Snack/Base.lproj/LaunchScreen.storyboard
  src/frontend/ios/Snack/Base.lproj/Main.storyboard
  src/frontend/ios/Snack/GoogleService-Info.plist
  src/frontend/ios/Snack/Info.plist
  src/frontend/ios/Snack/Model/Noti.swift
  src/frontend/ios/Snack/NotiListTableViewCell.swift
  src/frontend/ios/Snack/NotiListViewController.swift
  src/frontend/ios/Snack/SceneDelegate.swift
  src/frontend/ios/Snack/Snack.entitlements
  src/frontend/ios/Snack/ViewController.swift
Labels: feat, iOS, FCM

#53 Feat/auth/signup
  .gitignore
  src/backend/authServer/.gitignore
  src/backend/authServer/build.gradle
  src/backend/authServer/gradle/wrapper/gradle-wrapper.jar
  src/backend/authServer/gradle/wrapper/gradle-wrapper.properties
  src/backend/authServer/gradlew
  src/backend/authServer/gradlew.bat
  src/backend/authServer/settings.gradle
  src/backend/authServer/src/main/java/lastpunch/authserver/AuthServerApplication.java
  src/backend/authServer/src/main/java/lastpunch/authserver/common/Response.java
  src/backend/authServer/src/main/java/lastpunch/authserver/common/exception/BusinessException.java
  src/backend/authServer/src/main/java/lastpunch/authserver/common/exception/ErrorCode.java
  src/backend/authServer/src/main/java/lastpunch/authserver/common/exception/ErrorResponse.java
  src/backend/authServer/src/main/java/lastpunch/authserver/common/exception/GlobalExceptionHandler.java
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/SignupController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/loginController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/SignupRequest.java
  src/backend/authServer/src/main/java/lastpunch/authserver/entity/Member.java
  src/backend/authServer/src/main/java/lastpunch/authserver/repository/MemberRepository.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/SignupService.java
  src/backend/authServer/src/main/resources/application.properties
  src/backend/authServer/src/test/java/lastpunch/authserver/AuthServerApplicationTests.java
  src/backend/gateway/.gitignore
  src/backend/gateway/build.gradle
  src/backend/gateway/gradle/wrapper/gradle-wrapper.jar
  src/backend/gateway/gradle/wrapper/gradle-wrapper.properties
  src/backend/gateway/gradlew
  src/backend/gateway/gradlew.bat
  src/backend/gateway/settings.gradle
  src/backend/gateway/src/main/java/lastpunch/gateway/GatewayApplication.java
  src/backend/gateway/src/main/resources/application.yml
  src/backend/gateway/src/test/java/lastpunch/gateway/GatewayApplicationTests.java
Labels: feat, BE

#55 로그인/회원가입 페이지 UI 프로토타입
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/Common/Input.tsx
  src/frontend/web/src/components/Common/Logo.tsx
  src/frontend/web/src/components/Common/SubmitButton.tsx
  src/frontend/web/src/components/Header.tsx
  src/frontend/web/src/components/LoginEmail/SignUp.tsx
  src/frontend/web/src/components/LoginEmail/index.tsx
  src/frontend/web/src/components/SignupEmail/index.tsx
  src/frontend/web/src/index.tsx
  src/frontend/web/src/modules/index.ts
  src/frontend/web/src/pages/Login.tsx
  src/frontend/web/src/pages/Signup.tsx
  src/frontend/web/src/pages/Welcome.tsx
  src/frontend/web/src/routes/Private.tsx
  src/frontend/web/src/routes/Public.tsx
Labels: feat, WEB

#56 Chore: MySQL & MongoDB 스키마 수정 및 추가
  docs/DB/LastPunch_schema_MongoDB.drawio
  docs/DB/LastPunch_schema_MongoDB.png
  docs/DB/LastPunch_schema_MySQL.png
  docs/LastPunch_schema.png
  docs/README.md
  scripts/LastPunch_schema.sql
  scripts/MongoDB/document.json
  scripts/MongoDB/message.json
  scripts/MongoDB/notification.json
  scripts/MongoDB/task.json
  scripts/MySQL/LastPunch_schema.sql
  scripts/README.md
Labels: BE, chore

#57 머지 충돌
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/LoginEmail/Logo.tsx
  src/frontend/web/src/components/LoginEmail/index.tsx
  src/frontend/web/src/index.tsx
Labels: fix, WEB

#59 로그인/회원가입 API
  src/frontend/web/env
  src/frontend/web/src/components/Api/README.md
  src/frontend/web/src/components/Api/login.ts
  src/frontend/web/src/components/Api/signup.ts
  src/frontend/web/src/components/LoginEmail/Logo.tsx
  src/frontend/web/src/components/LoginEmail/index.tsx
  src/frontend/web/src/components/SignupEmail/index.tsx
  src/frontend/web/src/pages/Welcome.tsx
Labels: feat, WEB

#61 인증 - JWT 인증 추가
  src/backend/authServer/src/main/java/lastpunch/authserver/common/exception/ErrorCode.java
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/SignupController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/loginController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/LoginService.java
  src/backend/gateway/.gitignore
  src/backend/gateway/build.gradle
  src/backend/gateway/src/main/java/lastpunch/gateway/GatewayApplication.java
  src/backend/gateway/src/main/java/lastpunch/gateway/common/exception/AuthExceptionHandler.java
  src/backend/gateway/src/main/java/lastpunch/gateway/common/exception/ErrorCode.java
  src/backend/gateway/src/main/java/lastpunch/gateway/common/jwt/JwtProvider.java
  src/backend/gateway/src/main/java/lastpunch/gateway/filter/AuthFilter.java
  src/backend/gateway/src/main/resources/application.yml
Labels: feat, BE

#62 Welcome page UI
  src/frontend/web/README.md
  src/frontend/web/src/Api/README.md
  src/frontend/web/src/Api/login.ts
  src/frontend/web/src/Api/signup.ts
  src/frontend/web/src/components/Common/Logo.tsx
  src/frontend/web/src/components/Common/SubmitButton.tsx
  src/frontend/web/src/components/LoginEmail/index.tsx
  src/frontend/web/src/components/SignupEmail/index.tsx
  src/frontend/web/src/components/Welcome/Body/CreateWs.tsx
  src/frontend/web/src/components/Welcome/Body/WsItem.tsx
  src/frontend/web/src/components/Welcome/Body/WsList.tsx
  src/frontend/web/src/components/Welcome/Body/index.tsx
  src/frontend/web/src/components/Welcome/Header/LogoutButton.tsx
  src/frontend/web/src/components/Welcome/Header/index.tsx
  src/frontend/web/src/icon/sample-workspace.png
  src/frontend/web/src/index.tsx
  src/frontend/web/src/pages/Welcome.tsx
  src/frontend/web/src/styles/theme.ts
  src/frontend/web/tsconfig.json
  src/frontend/web/types/png.d.ts
  src/frontend/web/types/styledcomponent.d.ts
  src/frontend/web/types/svg.d.ts
Labels: feat, WEB

#63 워크스페이스 생성 UI 1차
  src/frontend/web/src/components/Common/MainAsideFrame.ts
  src/frontend/web/src/components/Common/MainHeaderFrame.ts
  src/frontend/web/src/components/CreateWs/StepCounter.ts
  src/frontend/web/src/components/CreateWs/index.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/components/Main/Chat/Input.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Main/Header/Search.tsx
  src/frontend/web/src/components/Main/Header/index.tsx
  src/frontend/web/src/components/Welcome/Body/CreateWsNav.tsx
  src/frontend/web/src/components/Welcome/Body/index.tsx
  src/frontend/web/src/pages/CreateWs.tsx
  src/frontend/web/src/routes/Private.tsx
  src/frontend/web/src/styles/theme.ts
  src/frontend/web/types/styledcomponent.d.ts
Labels: feat, WEB

#65 Chore: MySQL 스크립트에서 member -> account로 수정
  docs/DB/LastPunch_schema_MySQL.png
  docs/README.md
  scripts/MySQL/LastPunch_schema.sql
  scripts/README.md
Labels: fix, BE, chore

#70 Fix/fe/router
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/LoginEmail/index.tsx
  src/frontend/web/src/components/SignupEmail/index.tsx
  src/frontend/web/src/pages/CreateWs.tsx
  src/frontend/web/src/routes/Private.tsx
  src/frontend/web/src/routes/Public.tsx
Labels: fix, WEB

#71 로그인 api 수정 - access/refresh Token 저장
  src/frontend/web/src/Api/login.ts
  src/frontend/web/src/Api/signup.ts
  src/frontend/web/src/components/LoginEmail/index.tsx
  src/frontend/web/src/components/SignupEmail/index.tsx
Labels: fix, WEB

#72 fix: using reload not redirect
  src/frontend/web/src/components/LoginEmail/index.tsx
  src/frontend/web/src/components/Welcome/Header/LogoutButton.tsx
Labels: fix, WEB

#69 JWT 인증 리팩토링
  src/backend/authServer/Dockerfile
  src/backend/authServer/src/main/java/lastpunch/authserver/common/CustomUser.java
  src/backend/authServer/src/main/java/lastpunch/authserver/common/Response.java
  src/backend/authServer/src/main/java/lastpunch/authserver/common/exception/ErrorResponse.java
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/loginController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/SignupRequest.java
  src/backend/authServer/src/main/java/lastpunch/authserver/entity/Account.java
  src/backend/authServer/src/main/java/lastpunch/authserver/repository/AccountRepository.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/CustomUserDetailsService.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/LoginService.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/SignupService.java
  src/backend/authServer/src/main/resources/application.properties
  src/backend/db/initdb.d/LastPunch_schema.sql
  src/backend/docker-compose.yml
  src/backend/gateway/.gitignore
  src/backend/gateway/Dockerfile
  src/backend/gateway/src/main/java/lastpunch/gateway/common/exception/AuthExceptionHandler.java
  src/backend/gateway/src/main/java/lastpunch/gateway/filter/AuthFilter.java
  src/backend/gateway/src/main/resources/application.properties
Labels: feat, BE, chore

#75 메인 페이지 UI 프로토
  src/frontend/web/src/components/Common/ImageButton.tsx
  src/frontend/web/src/components/Common/MainAsideFrame.ts
  src/frontend/web/src/components/Common/MainAsideHeader.ts
  src/frontend/web/src/components/Main/Aside/Body/ToggleList.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/icon/downArrow.svg
  src/frontend/web/src/modules/channel.ts
  src/frontend/web/src/modules/index.ts
  src/frontend/web/src/modules/modal.ts
  src/frontend/web/src/pages/CreateWs.tsx
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/src/routes/Private.tsx
Labels: feat, WEB

#64 Feat/workspace
  src/backend/workspace/.gitignore
  src/backend/workspace/README.md
  src/backend/workspace/build.gradle
  src/backend/workspace/gradle/wrapper/gradle-wrapper.jar
  src/backend/workspace/gradle/wrapper/gradle-wrapper.properties
  src/backend/workspace/gradlew
  src/backend/workspace/gradlew.bat
  src/backend/workspace/settings.gradle
  src/backend/workspace/src/main/java/lastpunch/workspace/WorkspaceApplication.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/Response.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/ServerCode.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/StatusCode.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/converter/AccountStatusConverter.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/converter/WorkspaceStatusConverter.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/exception/BusinessException.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/exception/ErrorResponse.java
  src/backend/workspace/src/main/java/lastpunch/workspace/common/exception/GlobalExceptionHandler.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/AccountWorkspaceController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/WorkspaceController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/dto/AccountExportDto.java
  src/backend/workspace/src/main/java/lastpunch/workspace/dto/AccountWorkspaceDto.java
  src/backend/workspace/src/main/java/lastpunch/workspace/dto/WorkspaceDto.java
  src/backend/workspace/src/main/java/lastpunch/workspace/dto/WorkspaceExportDto.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Account.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/AccountWorkspace.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Workspace.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/AccountRepository.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/AccountWorkspaceRepository.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/WorkspaceRepository.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/AccountWorkspaceService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/CommonService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/WorkspaceService.java
  src/backend/workspace/src/main/resources/application.yml
  src/backend/workspace/src/test/java/lastpunch/workspace/WorkspaceApplicationTests.java
Labels: feat, BE

#89 Feat/fe/main/nav
  src/frontend/web/src/components/Common/NavigationTab.tsx
  src/frontend/web/src/components/LoginEmail/index.tsx
  src/frontend/web/src/components/Main/Aside/Body/ToggleList.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Main/Chat/Header.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Main/Header/index.tsx
  src/frontend/web/src/components/Welcome/Body/WsItem.tsx
  src/frontend/web/src/modules/channel.ts
  src/frontend/web/src/modules/index.ts
  src/frontend/web/src/modules/worksapce.ts
  src/frontend/web/src/pages/CreateWs.tsx
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/src/pages/Note.tsx
  src/frontend/web/src/pages/Task.tsx
  src/frontend/web/src/pages/Welcome.tsx
  src/frontend/web/src/routes/Private.tsx
Labels: feat, WEB

#92 노트 UI 프로토타입
  src/frontend/web/package-lock.json
  src/frontend/web/package.json
  src/frontend/web/src/components/Note/Header/index.tsx
  src/frontend/web/src/components/Note/Main/Block.tsx
  src/frontend/web/src/components/Note/Main/index.tsx
  src/frontend/web/src/components/Note/Side/Header.tsx
  src/frontend/web/src/components/Note/Side/List.tsx
  src/frontend/web/src/components/Note/Side/Menu.tsx
  src/frontend/web/src/icon/arrowLeft.svg
  src/frontend/web/src/icon/arrowRight.svg
  src/frontend/web/src/icon/menu.svg
  src/frontend/web/src/icon/more.svg
  src/frontend/web/src/icon/setting.svg
  src/frontend/web/src/pages/Note.tsx
Labels: feat, WEB

#93 워크스페이스 서버 CORS 설정
  src/backend/workspace/build.gradle
  src/backend/workspace/src/main/java/lastpunch/workspace/config/WebConfig.java
  src/backend/workspace/src/main/resources/application.yml
Labels: BE, chore

#94 worskapce API
  src/frontend/web/.env.development.local
  src/frontend/web/.gitignore
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Welcome/Body/WsItem.tsx
  src/frontend/web/src/components/Welcome/Body/WsList.tsx
  src/frontend/web/src/constant/index.js
  src/frontend/web/src/modules/worksapce.ts
  src/frontend/web/src/pages/CreateWs.tsx
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/types/workspace.type.ts
Labels: feat, WEB

#97 Fix/channel/api
  docs/API_references/backend_workspace_apis.md
  src/backend/workspace/README.md
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/AccountChannelController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/ChannelController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/controller/WorkspaceController.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Channel.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Role.java
  src/backend/workspace/src/main/java/lastpunch/workspace/entity/Workspace.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/channel/ChannelRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/repository/workspace/WorkspaceRepositoryImpl.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/ChannelService.java
  src/backend/workspace/src/main/java/lastpunch/workspace/service/WorkspaceService.java
Labels: fix, BE, bug

#99 페이지네이션 고려하여 api 수정
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/components/Welcome/Body/WsList.tsx
Labels: fix, refactor, WEB

#98 인증 서버 이메일 인증
  src/backend/README.md
  src/backend/authServer/build.gradle
  src/backend/authServer/src/main/java/lastpunch/authserver/AuthServerApplication.java
  src/backend/authServer/src/main/java/lastpunch/authserver/common/exception/ErrorCode.java
  src/backend/authServer/src/main/java/lastpunch/authserver/config/AsyncConfig.java
  src/backend/authServer/src/main/java/lastpunch/authserver/config/RedisConfig.java
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/AuthController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/SignupController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/EmailVerifyRequest.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/SendEmailRequest.java
  src/backend/authServer/src/main/java/lastpunch/authserver/dto/SignupRequest.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/EmailVerifyService.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/LoginService.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/RedisService.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/SignupService.java
  src/backend/authServer/src/main/resources/application-lastpunch.properties
  src/backend/authServer/src/main/resources/application.properties
  src/backend/docker-compose.yml
  src/backend/gateway/src/main/resources/application.properties
  src/backend/gateway/src/main/resources/application.yml
Labels: feat, BE

#101 fix: 채팅 스크롤 이슈
  src/frontend/web/src/components/Main/Chat/Input.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
Labels: fix, WEB

#102 fix: props channelName
  src/frontend/web/src/components/Main/Chat/Input.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
Labels: fix, WEB

#103 feat: 더보기
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/components/Welcome/Body/WsList.tsx
Labels: feat, WEB

#114 api에 토큰 추가 및 전체 리팩토링
  src/frontend/web/README.md
  src/frontend/web/src/Api/channel.ts
  src/frontend/web/src/Api/handler.ts
  src/frontend/web/src/Api/login.ts
  src/frontend/web/src/Api/reissue.ts
  src/frontend/web/src/Api/signin.ts
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/Main/Aside/Body/Modal.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Aside/index.tsx
  src/frontend/web/src/components/Main/Chat/index.tsx
  src/frontend/web/src/components/Main/Header/index.tsx
  src/frontend/web/src/components/Signin/SignUpButton.tsx
  src/frontend/web/src/components/Signin/index.tsx
  src/frontend/web/src/components/Welcome/Body/WsList.tsx
  src/frontend/web/src/components/Welcome/Header/LogoutButton.tsx
  src/frontend/web/src/constant/index.js
  src/frontend/web/src/hook/chat.ts
  src/frontend/web/src/hook/createChannel.ts
  src/frontend/web/src/hook/createWs.ts
  src/frontend/web/src/hook/getChannelsAndMembers.ts
  src/frontend/web/src/hook/getWs.ts
  src/frontend/web/src/hook/getWsList.ts
  src/frontend/web/src/hook/selectChannel.ts
  src/frontend/web/src/hook/setTitle.ts
  src/frontend/web/src/hook/updateChannelStore.ts
  src/frontend/web/src/modules/channel.ts
  src/frontend/web/src/modules/worksapce.ts
  src/frontend/web/src/pages/CreateWs.tsx
  src/frontend/web/src/pages/Login.tsx
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/src/pages/Signin.tsx
  src/frontend/web/src/pages/Welcome.tsx
  src/frontend/web/src/routes/Public.tsx
  src/frontend/web/src/util/clearSession.ts
  src/frontend/web/types/channel.type.ts
  src/frontend/web/types/workspace.type.ts
Labels: fix, feat, refactor, WEB

#122 feat: 중복 이메일 확인 API 추가, 이메일 재전송 기능 추가
  src/backend/authServer/src/main/java/lastpunch/authserver/controller/AuthController.java
  src/backend/authServer/src/main/java/lastpunch/authserver/service/EmailVerifyService.java
  src/backend/authServer/src/main/resources/application-lastpunch.properties
Labels: feat, BE

#129 signup api
  src/frontend/web/src/Api/handler.ts
  src/frontend/web/src/Api/signup.ts
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/components/Common/Input.tsx
  src/frontend/web/src/components/Signin/index.tsx
  src/frontend/web/src/components/SignupEmail/Pass.tsx
  src/frontend/web/src/components/SignupEmail/Verify.tsx
  src/frontend/web/src/components/SignupEmail/index.tsx
  src/frontend/web/src/components/SignupEmail/input.type.ts
  src/frontend/web/src/constant/index.js
  src/frontend/web/src/hook/createWs.ts
  src/frontend/web/src/hook/getWsList.ts
  src/frontend/web/src/icon/cookie-2.png
  src/frontend/web/src/util/clearSession.ts
  src/frontend/web/src/util/isEmail.ts
Labels: feat, WEB

#132 Feat/chat/basic
  src/backend/chat-proto/settings.gradle
  src/backend/chat-proto/src/main/resources/application.yml
  src/backend/chat/.gitignore
  src/backend/chat/README.md
  src/backend/chat/build.gradle
  src/backend/chat/gradle/wrapper/gradle-wrapper.jar
  src/backend/chat/gradle/wrapper/gradle-wrapper.properties
  src/backend/chat/gradlew
  src/backend/chat/gradlew.bat
  src/backend/chat/settings.gradle
  src/backend/chat/src/main/java/lastpunch/chat/ChatApplication.java
  src/backend/chat/src/main/java/lastpunch/chat/common/ChatConstant.java
  src/backend/chat/src/main/java/lastpunch/chat/config/ChatConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/config/RabbitConfig.java
  src/backend/chat/src/main/java/lastpunch/chat/controller/ChatController.java
  src/backend/chat/src/main/java/lastpunch/chat/dto/Message.java
  src/backend/chat/src/main/java/lastpunch/chat/service/RabbitService.java
  src/backend/chat/src/main/resources/application.yml
  src/backend/chat/src/main/resources/static/index.html
  src/backend/chat/src/test/java/lastpunch/chat/ChatApplicationTests.java
Labels: feat, BE

#135 fix: Gradle 빌드 파일 누락 내용 추가
  src/backend/chat/README.md
  src/backend/chat/build.gradle
Labels: fix, BE

#136 ws - member초대
  src/frontend/web/src/Api/README.md
  src/frontend/web/src/Api/reissue.ts
  src/frontend/web/src/Api/workspace.ts
  src/frontend/web/src/components/Main/Aside/Body/ChannelModal.tsx
  src/frontend/web/src/components/Main/Aside/Body/InviteModal.tsx
  src/frontend/web/src/components/Main/Aside/Body/Modal.tsx
  src/frontend/web/src/components/Main/Aside/Body/ToggleList.tsx
  src/frontend/web/src/components/Main/Aside/Body/index.tsx
  src/frontend/web/src/components/Main/Header/Search.tsx
  src/frontend/web/src/components/Main/Header/index.tsx
  src/frontend/web/src/modules/modal.ts
Labels: feat, WEB

#141 컨트롤 키로 포매팅 + 예외 상황시 unlock
  src/frontend/web/src/components/Note/Main/index.tsx
Labels: fix, feat, WEB

#143 노트 생성, 목록 조회, 선택한 노트 조회
  src/frontend/web/src/Api/note.ts
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/Note/Main/index.tsx
  src/frontend/web/src/constant/index.js
  src/frontend/web/src/pages/Note.tsx
Labels: feat, WEB

#144 slack - note 결합 프로토!
  src/frontend/web/src/App.tsx
  src/frontend/web/src/components/Main/Aside/Body/ChannelItem.tsx
  src/frontend/web/src/components/Main/Aside/Body/ToggleList.tsx
  src/frontend/web/src/components/Note/Main/index.tsx
  src/frontend/web/src/pages/Main.tsx
  src/frontend/web/src/pages/Note.tsx
  src/frontend/web/src/routes/Private.tsx
Labels: feat, WEB
